	<!-- script references -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="public/bower_components/angular-socket-io/socket.js"></script>
		<script src="public/js/bootstrap.min.js"></script>
		<!-- <script src="public/js/scripts.js"></script> -->
		<script src="public/js/services.js"></script>
		<script src="public/js/filters.js"></script>
		<script src="public/js/directives.js"></script>
	</body>
</html>