
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Koala CMS</title>
    
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="public/css/bootstrap.min.css" rel="stylesheet">
		<link href="public/css/bootstrap.icon-large.min.css" rel="stylesheet">
		<link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap-responsive.css">
		
		 <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
  <script src="public/js/vendor/aws-sdk.min.js"></script>		
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>



   <script src="https://cdn.rawgit.com/gdi2290/angular-intercom/master/angular-intercom.min.js">
   </script>
	<script src="partials/angular-ui-router.min.js"></script>
   <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-animate.min.js"></script>
   
  <script src="public/js/core.js"></script>
  <script src="public/js/ptImageUploader.js"></script>
  <script src="public/js/image.js"></script>
  <script src="public/js/functions.js"></script>  
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/darkly/bootstrap.min.css">
<!-- <link href="public/css/style2.css" rel="stylesheet"> -->

<link rel='stylesheet' href='public/bower_components/textangular/dist/textAngular.css'>
<script src='public/bower_components/textangular/dist/textAngular-rangy.min.js'></script>
<script src='public/bower_components/textangular/dist/textAngular-sanitize.min.js'></script>
<script src='public/bower_components/textangular/dist/textAngular.min.js'></script>

