   <div class="hero-image">  

<div class="wrapper">
		<div class="box">
			<div class="row row-offcanvas row-offcanvas-left">
            <div class="column col-sm-12 col-xs-11" id="main">
              	<div class="navbar navbar-blue">  
                    <div class="navbar-header">
                    	<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
	                        <span class="sr-only">Toggle</span>
	                        <span class="icon-bar"></span>
	          				<span class="icon-bar"></span>
	          				<span class="icon-bar"></span>
                        </button>
                  	</div>
       



    <div class="sign-up footer-style panel panel-default">
      <ul class="list-unstyled">

        
                     <li>
                        <a href="/" class="list-group-item" ><i class="glyphicons-home"></i> Home </a>
                      </li>

<li ng-cloak ng-if="client.data[0].client_email">
    <a href="#" class="list-group-item" >Welcome, {{client.data[0].client_email}}</a>
</li>
<li ng-cloak ng-if="client.data[0].client_email">
    <a href="/logout" class="list-group-item" ><i class="glyphicons-home"></i> Logout </a></li>
<li ng-cloak ng-if="!client.data[0].client_email">
    <a href="/login" class="list-group-item" ><i class="glyphicons-home"></i> Login </a>
</li>
                    </ul>
                          

                   </div>
                   </div>
                   </div>            

</li>
                  	</nav>
                </div>
                <hr> 
</ul>
              </div>