<center>
{{myTheme}}
          <div class="row">
          <div class="col-md-4 col-sm-6 portfolio-item">

            <a href="blog/tinder/index.html" class="portfolio-link" data-toggle="modal">
              <h3 class="articleteasers">Tinder and The Loss of True Intimacy</h2>
              <br>
              <img src="img/tinder2.PNG" class="img-responsive" alt="">
            </a>
              <br>
              <p>The aim of this article is to carefully examine dating app culture, and debate whether this new culture is conducive or destructive to finding true love. 
              </p>
            </div>
          <!-- New Facebook Article -->

          <div class="col-md-4 col-sm-6 portfolio-item">

            <a href="blog/blockbusterarticle/index.html" class="portfolio-link" data-toggle="modal">
              <h3 class="articleteasers">BlockBuster's Demise and Netflix's Rise</h3>
              <br>
              <img src="img/netflix.jpg" class="img-responsive" alt="">
            </a>
              <br>
              <p>How did BlockBuster, the top dog of the post-theater movie industry, miss the oppurtunity to purchase Netflix? Luckily for Reed Hasting, Netflix Founder, the sleeping giant was simply too busy taking care of other matters.</code> 
              </p>
          </div>

          <!-- ENd of Facebook Article Teaser -->
          <div class="col-md-4 col-sm-6 portfolio-item">

            <a href="blog/facebook/index.html" class="portfolio-link" data-toggle="modal">
              <div class="portfolio-hover">
              </div>
              <h3 class="articleteasers">Did Facebook Rip Off It's Logo From Shrek?</h3>
              <br>
              <img src="img/shrek2.PNG" class="img-responsive" alt="">
            </a>
              <br>
              <p>After watching the movie again last night, I was amazed to see how many times the Facebook logo appears in the original Shrek film! The following images are not photo-shopped. 
              <br><br><br>
              </p>
          </div>
          <!-- Closing Row -->
        </div>

        <div class="row">
          <div class="col-md-4 col-sm-6 portfolio-item">

           <a href="blog/Pokemon Go/index.html" class="portfolio-link" data-toggle="modal">
             <div class="portfolio-hover">
             </div>
             <h3 class="articleteasers">Pokemon Go and Big Data</h3>
             <br>
             <img src="img/pokemon2.PNG" class="img-responsive" alt="">
           </a>
             <br>
             <p>We are entering a new era of User Comfort levels relating to online privacy. Trends like the "Pokémon Go" app are proof of this Sociological Shift within the Global Community of Mobile Phone users.
             </p>
         </div>

          <div class="col-md-4 col-sm-6 portfolio-item">

           <a href="blog/7topfintechinnovators/index.html" class="portfolio-link" data-toggle="modal">
             <div class="portfolio-hover">
             </div>
             <h3 class="articleteasers">7 Top FinTech Innovators</h3>
             <br>
             <img src="img/fintech.PNG" class="img-responsive" alt="">
           </a>
             <br>
             <p>Let's have a look at the Top 7 FinTech innovators. The list includes both digital enablers - those that are creating the technology that other companies can build on top of - as well as those companies that are targeting the end-user directly.
             </p>
           </div>

         <div class="col-md-4 col-sm-6 portfolio-item">

          <a href="blog/linkedinGrowthHack/index.html" class="portfolio-link" data-toggle="modal">
            <h3 class="articleteasers">LinkedIn Growth Hacks - that will save you mucho time</h3>
            <br>
            <img src="img/Linkedin4.PNG" class="img-responsive" alt="">
          </a>
            <br>
            <p>In this article, we will go through the steps of extracting the email list from your email database platform, and then adding that very same database of emails (excel's .CSV files) chunk by chunk unto your Linkedin network of connections.
            </p> 
          </div>
</div>
<br>
<div class="row">
   <div class="col-md-4 col-sm-6 portfolio-item">

         <a href="blog/5steps/index.html">
         <div class="portfolio-hover">
         </div>
         <h3 class="articleteasers">5 Steps To Getting More Leads Online</h3>
         <br>
         <img src="img/52.PNG" class="img-responsive" alt="">
       </a>
         <br>
         <p>Our platforms for sharing content are vast. We all already have audiences of close acquaintances, and business contacts, just waiting to hear from us. That's why we've created this list of "5 steps to generating new business online." Have a look.
         </p> 
       </div>


     <div class="col-md-4 col-sm-6 portfolio-item">

      <a href="blog/Measure-Your-Marketing-ROI/index.html"
      class="portfolio-link" data-toggle="modal">
      <h3 class="articleteasers">Measuring with Google Analytics</h3>
      <br>
      <img src="img/measure3.PNG" class="img-responsive" alt="">
    </a>
      <br>
      <p>Learn how to calculate the return on your marketing investments, while using those insights to double-down on your most profitable channels. This can also empower you to cancel the investments on sources that aren't delivering you paying customers.</code>
        </p> 
      </div>
    <!-- Closing Row -->
  </div>
</center>