
<center>
<div class="col-md-6">
  <h3>Step 1: Choose a Title
  </h3>
  <br>
  <form>
    <div class="form-group">
      <div class="input-group">
        <input type="text" class="form-control" style="width:450px" placeholder="Enter Title" ng-model="title">
      </div>      
    </div>
</form>
</div>
</center>


<center>
<pt-image-uploader></pt-image-uploader>
</div>
</div>
</center>


<div class="col-md-12">
 <h3>Step 3: Add some content <small>{{version}}</small></h3>
        <button ng-click="disabled = !disabled" unselectable>Disable text-angular Toggle</button>
        <div text-angular="text-angular" name="htmlcontent" ng-model="htmlcontent.text" ta-disabled='disabled'></div>
        <h1>Raw HTML in a text area</h1>
        <textarea ng-model="htmlcontent.text" style="width: 100%"></textarea>
        <h1>Bound with ng-bind-html</h1>
        <div ng-bind-html="htmlcontent.text"></div>
        
         <div class="modal-footer">
          <div>
          <button type="submit" class="btn btn-primary btn-lg" data-dismiss="modal" aria-hidden="true" ng-click="submitBlogPost({html: htmlcontent.text, title: title})">Add</button>
      </div>  
      </div>
    </div>
</div>

<!--Modal #2 - blogpost-->
<div id="postModal2" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
     
             <text-angular ng-model="blogPostData.html"></text-angular>
 
     
          <form class="form center-block">
            <div class="form-group">
              <textarea class="form-control input-lg" autofocus="" placeholder="Text" ng-model="blogdata.html"></textarea>
            </div>
          </form>
     
     
      </div>
  </div>
  </div>
</div>

