    <!-- New Facebook Article -->

          <div class="col-md-4 col-sm-6 portfolio-item">

            <a href="blog/blockbusterarticle/index.html" class="portfolio-link" data-toggle="modal">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <h3 class="articleteasers">BlockBuster's Demise and Netflix's Rise</h3>
              <br>
              <img src="img/netflix.jpg" class="img-responsive" alt="">
            </a>
            <div class="portfolio-caption">
              <br>
              <p><code>How did BlockBuster, the top dog of the post-theater movie industry, miss the oppurtunity to purchase Netflix? Luckily for Reed Hasting, Netflix Founder, the sleeping giant was simply too busy taking care of other matters.</code> 
              </p>
            </div>
          </div>

          <!-- ENd of Facebook Article Teaser -->
