
<!-- 
   <style>
            body {
                margin-top: 30px;
            }
           /* #messageArea {
                display: none;
            }*/
        </style>
 -->

<main-area>
  </main-area>




    <div class= "container">
          

         <div id="messageArea" class= "row">
             <div class="col-md-4">
                <div class="well">
                    <h3>Online Users</h3>
                    <ul class="list-group" id="users">
                  
                    <!--    <option ng-repeat="campaign in campaigns" value="{{campaign.campaign_name}}">{{campaign.campaign_name}}</option>
                    -->
                      <li ng-repeat="onlineUser in onlineUsers">{{onlineUser.person}}</li>
                    </ul>
                </div>        
            </div>
            <div class="col-md-8">
             
             <form ng-submit="submitMessage(message)" id="messageForm">
                <div class="form-group">
                    <label>Enter Message</label>
                    <textarea ng-model="messageData.message" class="form-control" id="message"></textarea>
                    <br />
                    <input ng-model="messageData.message" type="submit" class="btn btn-primary" value="Send Message" />
                    </div>
              </form>

              <div class="brandnewchats" id="chat">
                <ul>
                    <li ng-repeat="chatMessage in chatMessages">{{chatMessage.user}}: </strong>{{chatMessage.msg}}</li>
                 <ul> 
              </div>


              <div class="loadingchats" id="loadingchats">
                <ul>
                    <li ng-repeat="message in messages">{{message.client_email}}: </strong>{{message.message_content}}</li>
                 <ul> 
              </div>


              
            </div>
         </div>
     </div>


 <!-- <a href="#" class="btn btn-primary">Close</a> -->
</div>

  <!-- 3 Articles Section -->

            <div class="form-container">
    <h1 class="brand"><span>Acme</span> Web Design</h1>
    <div class="wrapper animated bounceInLeft">
      <div class="company-info">
        <h3>Heyoo, Acme Web Design</h3>
        <ul>
          <li><i class="fa fa-road"></i> 44 Something st</li>
          <li><i class="fa fa-phone"></i> (555) 555-5555</li>
          <li><i class="fa fa-envelope"></i> test@acme.test</li>
        </ul>
      </div>
      <div class="contact">
        <h3>Email Us??</h3>
        {{msg}}
        <form method="POST" action="send">
          <p>
            <label>Name</label>
            <input type="text" name="name">
          </p>
          <p>
            <label>Company</label>
            <input type="text" name="company">
          </p>
          <p>
            <label>Email Address</label>
            <input type="email" name="email">
          </p>
          <p>
            <label>Phone Number</label>
            <input type="text" name="phone">
          </p>
          <p class="full">
            <label>Message</label>
            <textarea name="message" rows="5"></textarea>
          </p>
          <p class="full">
            <button type="submit">Submit</button>
          </p>
        </form>
      </div>
    </div>
  </div>

      


         


        <br>
        <br>