    <!-- New Facebook Article -->

          <div class="col-md-4 col-sm-6">

          
              
                  
                </div>
              </div>
              <h3>BlockBuster's Demise and Netflix's Rise</h3>
              <br>
             
            </a>
            <div>
              <br>
              <p><code>How did BlockBuster, the top dog of the post-theater movie industry, miss the oppurtunity to purchase Netflix? Luckily for Reed Hasting, Netflix Founder, the sleeping giant was simply too busy taking care of other matters.</code> 
              </p>
            </div>
          </div>

          <!-- ENd of Facebook Article Teaser -->
