<!DOCTYPE HTML>
<html ng-app="KoalaCMS">
  <head>
    <% include partials/head %>
    </head>
<body ng-controller="mainController">
    <% include partials/header %> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.min.css">
    <link rel="stylesheet"  ng-href="{{'https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/' + myTheme + '/bootstrap.min.css'}}">

  <div class="col-sm-12">							
         <div ui-view></div>
    
</body>
       <div class="col-sm-12 footer-style" >
 		<div class="footer-style panel panel-default">
      <ul class="list-unstyled">

       <a href="https://il.linkedin.com/in/elishakramer" class="list-group-item" target="_blank">LinkedIn</a>
          <a href="https://www.facebook.com/Alephmarketingpros/" class="list-group-item" target="_blank" >Facebook</a>
           <a href="https://github.com/ElishaKay" class="list-group-item" target="_blank" >GitHub</a>
            </ul>
              </div>
           </div>
                      
           <hr>      
           <h4 class="text-center">
           <a href="/" target="ext">Amp It Up © 2017</a>
           </h4>               
           <hr>
                        
              
 <% include partials/footer %>
