<!DOCTYPE HTML>
<html ng-app="KoalaCMS">
  <head>
    <% include partials/head %>
    </head>
<body ng-controller="mainController">
    <% include partials/header %> 
    <link rel="stylesheet"  ng-href="{{'https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/' + myTheme + '/bootstrap.min.css'}}">
  <div class="col-sm-12">							
         <div ui-view></div>
    <div class="col-md-2">            
    </div>
  </div>
       <div class="col-sm-12">
 		<div class="panel panel-default">
      <ul class="list-unstyled">
        {{themes}}
       <a href="https://il.linkedin.com/in/elishakramer" class="list-group-item" target="_blank">LinkedIn</a>
          <a href="https://www.facebook.com/Alephmarketingpros/" class="list-group-item" target="_blank" >Facebook</a>
           <a href="https://github.com/ElishaKay" class="list-group-item" target="_blank" >GitHub</a>
            </ul>
              </div>
           </div>
    </div>                      
    
      <div class="row" id="footer">    
         <div class="col-sm-6">
           <p>
           <a href="#" class="pull-right"></a>
           </p>
         </div>
       </div>
                      
           <hr>      
           <h4 class="text-center">
           <a href="/" target="ext">Amp It Up © 2017</a>
           </h4>               
           <hr>
                        
              
 <% include partials/footer %>
