<!DOCTYPE HTML>
<html ng-app="GXLeads">
  <head>

      <% include partials/head %>
    
  </head>
<body ng-controller="mainController" >
      
       <% include partials/header %> 

<div class="col-sm-12">
							
<div class="row">
    <div class="col-md-10">
       <div ui-view></div>
     </div>
    <div class="col-md-2">
      <img height="200px" src="../public/images/Koala-time.PNG">            
    </div>
</div>



                           <div class="col-sm-12">
 							<div class="panel panel-default">
                              <div class="panel-heading"><a href="#" class="pull-right"></a> <h4>Popular Posts</h4></div>
                                <div class="panel-body">
                               	<div class="clearfix"></div>
                                    
                                    <ul class="list-unstyled">
                                    <a href="www.google.com">Google</a>
                                    <a href="www.facebook.com">Facebook</a>
                                    <a href="www.twitter.com" class="list-group-item ">Twitter</a>
                                    </ul>
                              	
                             
                              	</div>
                              </div>
                              
                           </div>


                       </div>
                      
                        <!-- <div class="row">
                          <div class="col-sm-6">
                            <a href="https://twitter.com/kodizim">Twitter +</a> <small class="text-muted">|</small> <a href="https://www.facebook.com/kodizim/">Facebook +</a> <small class="text-muted">|</small> <a href="https://github.com/mustafa05deniz">Github  </a>
                          </div>
                        </div> -->
                      
                        <div class="row" id="footer">    
                          <div class="col-sm-6">
                            
                          </div>
                          <div class="col-sm-6">
                            <p>
                            <a href="#" class="pull-right">© 2017 </a>
                            </p>
                          </div>
                        </div>
                      
                      <hr>
                      
                      <h4 class="text-center">
                      <a href="/" target="ext">Amp It Up</a>
                      </h4>
                        
                      <hr>
                        
                      
                    </div><!-- /col-9 -->
                </div><!-- /padding -->
            </div>
            <!-- /main -->
          
        </div>
    </div>
</div> 


 <% include partials/footer %>
