<div class="row">
	<div class="col-sm-12">
		  <a ui-sref=".blog" class="btn btn-primary">Blog</a>

		  <a ui-sref=".form" class="btn btn-primary">Multi-Step Blog Post</a>

		  <a ui-sref=".list" class="btn btn-primary">Community Chat</a>

		  <a ui-sref=".list2" class="btn btn-primary">Admin</a>

		  <a ui-sref=".community" class="btn btn-primary">New Blog Post</a>

		  <a ui-sref=".search" class="btn btn-primary">Search</a>

		  <a ui-sref=".contact" class="btn btn-primary">Contact</a>
	</div> 
 <div ui-view></div>
 