<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Client Side Image Compression and Upload</title>
  <meta name="description" content="An example AngularJS app demonstrating client-side image compression and uploading to AWS S3.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  
  
  <script src="public/js/vendor/aws-sdk.min.js"></script>
  <script src="https://code.angularjs.org/1.4.4/angular.min.js"></script>
  <script src="public/js/vendor/ui-bootstrap.min.js"></script>
  <script src="public/js/vendor/ui-bootstrap-tpls.min.js"></script>
  
  <script src="public/js/ptImageUploader.js"></script>
  <script src="public/js/image.js"></script>
  <script src="public/js/functions.js"></script>
  <script src="public/js/core.js"></script>
</head>
<body ng-app="KoalaCMS">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-xs-12 text-center">
            <h1>Client Side Image Compression and Upload</h1>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-12">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="vm.isSimulation"> Simulate S3 Upload
              </label>
            </div>
          </div>
        </div>
        <br>
        <div class="row" ng-hide="vm.isSimulation">
          <div class="col-xs-12">
            <label>AWS S3 Access Key ID</label>
            <input type="text" class="form-control" ng-model="vm.s3.accessKeyId">
            <br>
            <label>AWS S3 Secret Access Key</label>
            <input type="text" class="form-control" ng-model="vm.s3.secretAccessKey">
            <br>
            <label>AWS S3 Bucket</label>
            <input type="text" class="form-control" ng-model="vm.s3.bucket">
            <br>
            <label>AWS S3 Region</label>
            <!-- <select class="form-control" ng-model="vm.s3.region">
              <option value="us-east-1">us-east-1</option>
              <option value="us-west-2">us-west-2</option>
              <option value="us-west-1">us-west-1</option>
              <option value="eu-west-1">eu-west-1</option>
              <option value="eu-central-1">eu-central-1</option>
              <option value="ap-southeast-1">ap-southeast-1</option>
              <option value="ap-southeast-2">ap-southeast-2</option>
              <option value="ap-northeast-1">ap-northeast-1</option>
              <option value="sa-east-1">sa-east-1</option>
              </select> -->
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-12">
            <p class="well">This is a simple AngularJS app demonstrating client-side image compression and uploading to AWS S3. Compression is set to a max resolution of <code>400px x 300px</code> by default, however, you may override these settings.  If you do not wish to enter your AWS S3 credentials, you may run a simulation to see the compressed image output. Otherwise, uncheck the box above and enter your AWS S3 credentials to upload directly to your S3 account.</p>
          </div>
        </div>
        
        <pt-image-uploader></pt-image-uploader>

        <div>
  <div class="row">
    <form name="compressionForm">
      <div class="col-xs-6">
        <label>Max Width (px)</label>
        <input type="number" class="form-control" name="maxWidth" ng-model="vm.maxWidth" ng-pattern="/^(0|[1-9][0-9]*)$/" min="100">
        <span ng-show="compressionForm.maxWidth.$invalid" class="text-danger">
          Please enter a number larger than 99.
        </span>
      </div>
      <div class="col-xs-6">
        <label>Max Height (px)</label>
        <input type="number" class="form-control" name="maxHeight" ng-model="vm.maxHeight" ng-pattern="/^(0|[1-9][0-9]*)$/" min="100">
        <span ng-show="compressionForm.maxHeight.$invalid" class="text-danger">
          Please enter a number larger than 99.
        </span>
      </div>
    </form>
  </div>
  <br>
  <h2 id="image" class="text-center">Upload an Image</h2>

  <tabset>
    <tab ng-repeat="image in vm.images" heading="{{ $index + 1 }}" active="image.tab">
      <br>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <input image="image" type="file" class="form-control">
        </div>
      </div>
      <br>
      <div class="row" ng-hide="vm.isSimulation">
        <div class="col-xs-8 col-xs-offset-2">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{ image.uploadProgress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ image.uploadProgress }}%;">
              {{ image.uploadProgress == 0 ? '' : image.uploadProgress + '%' }}
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
          <img class="center-block" ng-src="{{ image.dataURL }}">
          <br>
          <div ng-show="image.dataURL">
            <p class="bg-success">Wow! You've achieved a compression of {{ image.compression }}%!</p>
            <table class="table text-center">
              <thead>
                <tr>
                  <th class="text-center"></th>
                  <th class="text-center">Width (px)</th>
                  <th class="text-center">Height (px)</th>
                  <th class="text-center">Size (bytes)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" class="text-center">Before</th>
                  <td class="text-center">{{ image.srcWidth }}</td>
                  <td class="text-center">{{ image.srcHeight }}</td>
                  <td class="text-center">{{ image.srcSize }}</td>

                </tr>
                <tr>
                  <th scope="row" class="text-center">After</th>
                  <td class="text-center">{{ image.srcWidth * image.ratio | number: 0}}</td>
                  <td class="text-center">{{ image.srcHeight * image.ratio | number: 0}}</td>
                  <td class="text-center">{{ image.resultSize }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-6 text-left">
          <button ng-if="vm.images.length > 1" class="btn btn-danger" ng-click="vm.removeImage(image)">Remove Image</button>
        </div>
        <div class="col-xs-6 text-right">
          <button ng-if="vm.images.length < 5" class="btn btn-default" ng-click="vm.addImage()">Add Another Image</button>
        </div>    
      </div>
      <br>
    </tab>
  </tabset>
</div>
        <br>

        <p>Demonstrates:</p>
        <ul>
          <li>AWS S3 Integration</li>
          <li>HTML5 Canvas</li>
          <li>HTML5 FileReader API</li>
          <li>AngularJS</li>
          <li>Angular Bootstrap (Tabs)</li>
          <li>Array Manipulation</li>
          <li>Bootstrap CSS</li>
          <li>Basic Responsive Design</li>
          <li>Basic Form Validation</li>
        </ul>
        <br>
        <p>Credits:</p>
        <ul>
          <li><a href="https://github.com/viliusle/Hermite-resize"><code>resample_hermite</code> Image Compression Algorithm</a></li>
          <li><a href="http://stackoverflow.com/a/5100158"><code>dataURItoBlob</code> function</a></li>
          <li><a href="https://github.com/nervgh/angular-file-upload">Angular File Upload by nervgh</a></li>
        </ul>
        <br>
        <p>By <a href="http://persianturtle.com">Raphael Rafatpanah</a></p>
        <br>
      </div>
    </div>
  </div>
</body>
</html>