<form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" style="width:auto" placeholder="Search by Content" ng-model="contentSearch">
      </div>      
    </div>
  </form>
  
  <table class="table table-bordered table-striped">
    
    <thead>
      <tr>
        <td>
          <a href="#/home/search" ng-click="orderColumn('title')">
            Title
           </a>
        </td>
        <td>
          <a href="#/home/search" ng-click="orderColumn('blogpost_content')">
          Blogpost Content
          </a>
        </td>
        <td>
          <a href="#/home/search" ng-click="orderColumn('client_id')">
          Client ID
          </a>
        </td>
         <td>
          <a href="#/home/search" ng-click="orderColumn('post_published_date')">
          Post Creation Date
          </a>
        </td>
      </tr>
    </thead>
    
    <tbody>
      <tr ng-repeat="blog in blogposts | orderBy:sortType:sortReverse | filter: {blogpost_content:contentSearch}">
        <td>{{ blog.title }}</td>
        <td>{{ blog.blogpost_content }}</a></td>
        <td>{{ blog.client_id }}</a></td>
        <td>{{ blog.post_published_date }}</td>
        <td><a class="btn btn-primary" ui-sref="post({ id: blog.blogpost_id })">More Info</a></td>
      </tr>
    </tbody>
    
  </table>
  
</div>