 

  <div class="alert alert-info">
    <p>Sort Type: {{ sortType }}</p>
    <p>Sort Reverse: {{ sortReverse }}</p>
    <p>Search Query: {{ searchFish }}</p>
  </div>
  
  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" style="width:auto" placeholder="Search by Email" ng-model="searchFish">
      </div>      
    </div>
  </form>
  
  <table class="table table-bordered table-striped">
    
    <thead>
      <tr>
        <td>
          <a href="#/home/search" ng-click="sortType = 'client_id'; sortReverse = !sortReverse">
            Client ID
            <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#/home/search" ng-click="sortType = 'client_email'; sortReverse = !sortReverse">
          Client Email
            <span ng-show="sortType == 'fish' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'fish' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="#/home/search" ng-click="sortType = 'client_password'; sortReverse = !sortReverse">
          Client Creation Date
            <span ng-show="sortType == 'tastiness' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'tastiness' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
         <td>
          <a href="#/home/search" ng-click="sortType = 'client_creation_date'; sortReverse = !sortReverse">
          Client Creation Date
            <span ng-show="sortType == 'tastiness' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'tastiness' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
      </tr>
    </thead>
    
    <tbody>
      <tr ng-repeat="user in allUsers | orderBy:sortType:sortReverse | filter: {client_email:searchFish}">
        <td>{{ user.client_id }}</a></td>
        <td>{{ user.client_email }}</td>
        <td>{{ user.client_password }}</td>
        <td>{{ user.client_creation_date }}</td>
        <td><a class="btn btn-primary" ui-sref="profile({ id: user.client_id, email: user.client_email })">Visit Profile</a></td>
      </tr>
    </tbody>
    
  </table>
  
    <select name="show-filter" ng-model="catFilter" 
    ng-options="category as category.title for category in ourTeamCategories">
  </select>

  <li ng-repeat="cat in ourTeamCategories | filter : {id: catFilter.id}: true">
    <h3>{{cat.title}}</h3>
    <!-- for testing -->
    <b>input: {{catFilter.id}}</b> - - ID: {{cat.id}}
  </li>

  
</div>