<div class="row">
  <div class="col-md-4 col-sm-6 portfolio-item" ng-repeat="theme in themes">
        <a href="#/home/themes" ng-click="chooseTheme(theme)" class="portfolio-link" data-toggle="modal">
        <h3 class="articleteasers">{{theme}}</h2>
        <br>
        <img ng-src="{{'public/images/themes/'+ theme + '.png'}}" class="img-responsive" alt="">
        <link rel="stylesheet"  ng-href="{{'https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/' + myTheme + '/bootstrap.min.css'}}">
        </a>
        <br>
       <p>Choose me.
  	</p>
</div>