	<!-- script references -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="public/bower_components/angular-socket-io/socket.js"></script>
		<script src="public/js/bootstrap.min.js"></script>
		<script src="public/js/services.js"></script>
		<script src="public/js/filters.js"></script>
		<script src="public/js/directives.js"></script>

<script>
    window.intercomSettings = {
        app_id: 'brgsi84c'
    };
    window.initiateIntercom = function(){(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/APP_ID';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()};
    window.initiateIntercom();
</script>

	</body>
</html>